<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="include/layout :: head"></head>

<body>
	<nav th:replace="include/layout :: header"></nav>

	<div class="container" id="main-content" style="margin-top: 10px">
		<div class="row">
			<div class="col-6 no-padding">
					<form class="form-inline" action="#" th:action="@{/user/search}"
						method="get">
						<input class="form-control mr-sm-2" type="search" name="term"
							placeholder="Search by name ..." />
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-search"></i> Search
						</button>
					</form>
			</div>

			<div class="col-6 no-padding">
				<a th:href="@{add}" href="#" class="btn btn-success float-right">
					<i class="fa fa-plus-square"></i> New contact
				</a>
			</div>
		</div>

		<div class="row mt-4">
			<div class="table-responsive">
				<h5>List of contacts</h5>
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Age</th>
							<th>Classes</th>
							<th>Position</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<th th:text="${user.id}"></th>
							<td th:text="${user.name}"></td>
							<td th:text="${user.age}"></td>
							<td th:text="${user.classes}"></td>							
							<td th:each = "position: ${positions}" th:if = "${user.position_id} == ${position.id}" th:text="${position.type}"></td>
							<td><a href="#"
								th:href="@{/user/{id}/edit(id = ${user.id})}"
								class="mr-sm-2 text-primary"><i class="fa fa-pencil"></i></a> <a
								th:href="@{/user/{id}/delete(id = ${user.id})}" href="#"
								class="text-danger"><i class="fa fa-trash"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="include/layout :: footer"></footer>
</body>
</html>